<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<head>
    <meta charset="UTF-8">
</head>

<body class="adatbazis-oldal">
<a href="/" class="back-btn">Vissza</a>
<h1>Adatbázis adatok – Pilóták • GP-k • Eredmények</h1>

<div class="container">


    <div class="table-box">
        <h2>Pilóták</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Név</th>
                <th>Születési dátum</th>
                <th>Nemzet</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${pilotak}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.nev}"></td>
                <td th:text="${p.szuldat}"></td>
                <td th:text="${p.nemzet}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="table-box">
        <h2>GP-k</h2>
        <table>
            <thead>
            <tr>
                <th>Dátum</th>
                <th>Név</th>
                <th>Helyszín</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="g : ${gp}">
                <td th:text="${g.datum}"></td>
                <td th:text="${g.nev}"></td>
                <td th:text="${g.helyszin}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="table-box">
        <h2>Eredmények</h2>
        <table>
            <thead>
            <tr>
                <th>Dátum</th>
                <th>Pilóta ID</th>
                <th>Helyezés</th>
                <th>Hiba</th>
                <th>Csapat</th>
                <th>Típus</th>
                <th>Motor</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="e : ${eredmenyek}">
                <td th:text="${e.datum}"></td>
                <td th:text="${e.pilotaaz}"></td>
                <td th:text="${e.helyezes}"></td>
                <td th:text="${e.hiba}"></td>
                <td th:text="${e.csapat}"></td>
                <td th:text="${e.tipus}"></td>
                <td th:text="${e.motor}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>