<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adatbázis – Forma1</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <noscript><link rel="stylesheet" href="/css/noscript.css"/></noscript>
</head>
<body class="is-preload">
<div id="wrapper">
    <header id="header">
        <div class="content">
            <div class="inner">
                <h1>Admin oldal</h1>
                <p>Az oldalra regisztrált felhasználók</p>
            </div>
        </div>
    </header>

    <div id="main">
        <article>
            <h2 class="major">Felhasználók</h2>
            <table>
                <thead>
                <tr>
                    <th>Azonosító</th>
                    <th>Név</th>
                    <th>Email</th>
                    <th>Jogosultság</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="u : ${users}">
                    <td th:text="${u.az}"></td>
                    <td th:text="${u.nev}"></td>
                    <td th:text="${u.email}"></td>
                    <td th:text="${u.role}"></td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>
<script src="/js/main.js"></script>
</body>
</html>
