<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    <title>Pilóta szerkesztése</title>
</head>
<body>

<h1>Pilóta szerkesztése</h1>

<form th:action="@{|/crud/edit/${pilota.id}|}" th:object="${pilota}" method="post">
    <!-- ID csak olvasható -->
    <p>ID: <span th:text="*{id}"></span></p>

    <label>Név:</label>
    <input type="text" th:field="*{nev}" />

    <label>Nem:</label>
    <input type="text" th:field="*{nem}" maxlength="1" />

    <label>Szül.dátum:</label>
    <input type="date" th:field="*{szuldat}" style="color: black"/>

    <label>Nemzet:</label>
    <input type="text" th:field="*{nemzet}" />

    <button type="submit">Mentés</button>
    <a th:href="@{/crud}">Mégse / Vissza</a>
</form>

</body>
</html>
