<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Főoldal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript></head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main content -->
    <section id="main">
        <div class="inner">

            <a href="/" class="button small">Vissza</a>

            <header>
                <h1>Üdvözlünk a Forma–1 Adatbázis Alkalmazásban!</h1>
                <p>Főoldal</p>
            </header>

            <p>
                Ez a webalkalmazás a Forma–1 világához kapcsolódó adatok kezelését és megtekintését teszi lehetővé.
                A rendszer különböző funkciókat biztosít a felhasználók és adminisztrátorok számára.
            </p>

            <h2>Funkciók</h2>
            <ul>
                <li>Pilóták adatainak megtekintése</li>
                <li>Felhasználói regisztráció és bejelentkezés</li>
                <li>Üzenetek küldése regisztrált felhasználóknak</li>
                <li>Admin funkciók (adatkezelés, törlés, módosítás)</li>
                <li>Diagram a pilóták adataival kapcsolatban</li>
                <li>CRUD menü adatok frissen tartása érdekében</li>
            </ul>

            <h2>Adatbázis</h2>
            <ul>
                <li>Pilóták, GP-k és az eredmények adatai</li>
                <li>Felhasználók és szerepköreik</li>
                <li>Üzenetek</li>
            </ul>

            <h2>Felhasznált technológiák</h2>
            <ul>
                <li>Java 21</li>
                <li>Spring Boot, Spring MVC, Spring Security</li>
                <li>Thymeleaf templaterendszer</li>
                <li>MySQL adatbázis</li>
                <li>JPA / Hibernate</li>
                <li>HTML, CSS, JS, Bootstrap</li>
            </ul>

        </div>
    </section>

</div>

<!-- Dimension Scripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

</body>
</html>
