<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bejelentkezés</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <meta charset="UTF-8">
</head>
<body class="login-oldal">
<a href="/" class="back-btn">Vissza</a>

<div class="login-kontener">
    <h2>Bejelentkezés</h2>

    <form th:action="@{/login}" method="post">
        <label>Email:</label>
        <input type="text" name="email">

        <label>Jelszó:</label>
        <input type="password" name="password">
        <p></p>
        <button type="submit">Belépés</button>
    </form>

    <div class="regisztral">
        Nincs fiókod? <a th:href="@{/register}">Regisztrálj!</a>
    </div>

</div>

</body>
</html>