<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Regisztráció</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="login-oldal">
<a href="/" class="back-btn">Vissza</a>

<div class="login-kontener">
    <h2>Regisztráció</h2>

    <p th:if="${error}" th:text="${error}" style="color:red"></p>
    <p th:if="${success}" th:text="${success}" style="color:green"></p>

    <form th:action="@{/register}" th:object="${user}" method="post">

        <label>Email:</label>
        <input type="text" th:field="*{email}">

        <label>Jelszó:</label>
        <input type="password" th:field="*{password}">
        <p></p>
        <button type="submit">Regisztráció</button>
    </form>
    <div class="regisztral">
        Már van fiókod? <a th:href="@{/login}">Jelentkezz be!</a>
    </div>
</div>

</body>
</html>