<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F1 Pilóták</title>
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>
<a href="/" class="back-btn">Vissza</a>
<header>
    <h1>F1 Pilóták – REST API teszt</h1>
</header>


<section>
    <h2>Pilóták listája</h2>
    <button id="refreshBtn">Frissítés</button>
    <table border="1" id="pilotTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Név</th>
            <th>Nem</th>
            <th>Nemzet</th>
            <th>Születési dátum</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>


<section>
    <h2>Új pilóta hozzáadása</h2>
    <form id="addPilotForm">
        <label>Név: <input type="text" id="name" required></label><br>
        <label>Nem: <input type="text" id="team" required></label><br>
        <label>Nemzetiség: <input type="text" id="" required></label><br>
        <label>Születési dátum: <input type="date" id="date" required></label><br>
        <button type="submit">Hozzáadás</button>
    </form>
</section>

</body>
</html>